.header-section{
    width: 920px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}
.img-1{
    width: 86.041px;
    height: 40px;
    margin-top: 47px;
}
#header-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gamer{
    display: flex;
}
.bar{
    margin-top: 40px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    text-align: center;
}
#list-id{
    width: 200px;
    height: 36px;
    padding-top: 14px;
    border-radius: 6px;
    background: rgba(11, 2, 35, 0.10);
}
.header-tul{
    width: 20.916px;
    height: 15px;
}
/* main section */
.main-container{
    display: flex;
    height: 700px;
    justify-content: space-between;
    background: #f7cccc;
}
.container-1{
    width: 901px;
    height: 650px;
    padding-top: 400px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.button{
    display: inline-flex;
    padding: 10px 25px;
    align-items: flex-start;
    border-radius: 35px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.button-2{
    display: inline-flex;
    padding: 10px 25px;
    align-items: flex-start;
    border-radius: 35px;
    background: #4EC5F7;
}